{% load static from staticfiles %}


<html>

  <head>
    <title>Note's title</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body data-portal_url = "{{ PORTAL_URL }}">// to be accessible by JS

    <div class="col-xs-9">
    </div>
    <div class="col-xs-3">
      <div class="post-num">
        Number of notes: <span id="postNumber">{{ post_num }}</span>
      </div>
    </div>


    <!-- <div class="page-header"> -->
    <div class="row" id="page-header">
      <div class="col-xs-8">
        <a href="{% url 'post_new' %}" class='top-menu'>
          <span class='glyphicon glyphicon-plus'>
          </span>
        </a>
        <h1> <a href="/">Notes</a></h1>
      </div>
      <div class="col-xs-4">
      </br>
        <span>Random note widget:</span>
        <div id="random_widget">
          <script src="http://localhost:8000/static/js/widget.js"></script>
          <script>
            document.write('&lt;div id="widget-container"&gt;&lt;/div&gt;');
          </script>
        </br>
          <script>
          document.write('&lt;script src=&quot;{{ PORTAL_URL }}{% static "js/widget.js" %}&quot;&gt;&lt;/script&gt;');
        </script>
          <!-- <p id="widget-text"></p> -->
        </div>
      </div>
    </div>

    <div class="content container">
      <div class="row" id="page-content">
        {% block content %}
        {% endblock %}
      </div>
    </div>


    <!-- Javascripts Inclusion -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
